header {
    height: 70px;
}

body {
    max-width: 400px;
    height: 430px;
    padding: 10px;
    border: 1px solid black;
    margin: auto;
    margin-top: 60px;
}

.logoEloGroup {
    width: 100%;
    margin-bottom: 15px;
}

.boxUsuario {
    width: 95%;
    padding: 8px;
    border: 1px solid black;
    margin-bottom: 15px;
}

.boxPassword {
    width: 95%;
    padding: 8px;
    border: 1px solid black;
    margin-bottom: 15px;
}

.boxConfirmacaoPassword {
    width: 95%;
    padding: 8px;
    border: 1px solid black;
    margin-bottom: 15px;
}

.botaoRegistrar {
    background-color: white;
    color: black;
    border: 1px solid black;
    width: 99.5%;
    height: 50px;
}